.home-sponsors {
  margin-bottom: 40px;
}

.slick-loading .slick-list {
  background: none;
}

.features-slider__nav-item:before,
.features-slider__nav-item:after {
  content: '';
}

@media (max-width: 767px) {
  .info .buildwith-nav__list {
    display: block;
  }
}

.buildwith-nav__list a {
  text-align: center;
}
