.home-sponsors {
  margin-bottom: 40px;
}

.slick-loading .slick-list {
  background: none;
}

.features-slider__nav-item:before,
.features-slider__nav-item:after {
  content: '';
}

@media (max-width: 767px) {
  .info .buildwith-nav__list {
    display: block;
  }
}

.buildwith-nav__list a {
  text-align: center;
}

.lang-image {
  height: 20px;
  width: 20px;
}

.header-dropdown--mobile-lang a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-dropdown--mobile-lang img {
  margin-right: 5px;
}

.mobile-menu-page-lang:after{
  content: url(https://assets.phalcon.io/phalcon/images/svg/arrow.svg);
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
}

.header-nav--mobile .extendable a:after{
  content: url(https://assets.phalcon.io/phalcon/images/svg/arrow.svg);
  margin-left: 5px;
}

.header-nav--mobile .header-dropdown--mobile a:after {
  display: none;
}

.phalcon-blog__last-article .phalcon-blog__item-img {
  height: 100%;  
}

.phalcon-blog__last-article .phalcon-blog__item-img > img {
  max-width: 100%;  
}

.contributors__list-item {
  width: 58px;
  -webkit-flex-basis: -webkit-calc(100%);
  -ms-flex-preferred-size: calc(100%);
  flex-basis: calc(100%);
  max-width: -webkit-calc(100%);
  max-width: calc(100%);
}

@media (max-width: 1023px) {
  .contributors__list-item {
    -webkit-flex-basis: -webkit-calc(100%);
    -ms-flex-preferred-size: calc(100%);
    flex-basis: calc(100%);
    max-width: -webkit-calc(100%);
    max-width: calc(100%);
    width: 60px; }
}

@media (max-width: 767px) {
  .contributors__list-item {
    -webkit-flex-basis: -webkit-calc(100%);
    -ms-flex-preferred-size: calc(100%);
    flex-basis: calc(100%);
    max-width: -webkit-calc(100%);
    max-width: calc(100%);
    width: 51px;
    height: 51px; }
}

.contributors__list {
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
