.header-nav--mobile .extendable a:after{
  content: url(https://assets.phalconphp.com/phalcon/images/svg/arrow.svg);
  margin-left: 5px;
}

.header-nav--mobile .header-dropdown--mobile a:after {
  display: none;
}

.table-link {
  overflow: auto;
  display: block;
}

.tag-button {
  display: inline-block;
  line-height: 23px;
  font-size: 16px;
  -webkit-transition: all .125s;
  -o-transition: all .125s;
  transition: all .125s;
  padding: 5px 12px;
  color: #273646;
  font-weight: 700;
  border: 1px solid rgba(39, 54, 70, 0.1);
  border-bottom: 1px solid #385B56;
  margin-bottom: 13px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.tag-button:hover {
  background-color: #273646;
  color: #fff;
}